OPENROUTER_API_KEY=
PPLX_API_KEY=

DSPY_ENDPOINT=https://openrouter.ai/api/v1

DSPY_FAST_MODEL=openrouter/google/gemini-2.5-flash-lite
DSPY_FAST_MAX_TOKENS=10_000
DSPY_FAST_TEMPERATURE=0.1

DSPY_SMART_MODEL=openrouter/google/gemini-2.5
DSPY_SMART_MAX_TOKENS=25_000
DSPY_SMART_TEMPERATURE=0.2

DSPY_MODEL=openrouter/google/gemini-2.5-flash
DSPY_MAX_TOKENS=25_000
DSPY_TEMPERATURE=0.2